.service-page {

  .dark-section {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);;
  }

  .servisec {
    padding: 133px 15px 0 15px;

    @media (min-width:768px) {
      padding: 280px 0 0 0;
    }

    @media (min-width:992px) {
      padding: 176px 0 0 0;
    }

    @media (min-width:1440px) {
      padding: 176px 30px 0 30px;
    }

    @media (min-width:1920px) {
      padding: 176px 30px 0 15px;
    }

    .card:last-child .card__visual {

      @media (min-width:1920px) {
        padding: 22px 24px 20px 22px;
      }
    }
  }

  .picture-section {
    padding: 17px 0 0 0;
  }

  #footer {
    .container {
      padding: 30px 15px 100px 15px;

      @media (min-width:768px) {
        padding: 30px 185px 89px 185px;
      }

      @media (min-width:992px) {
        padding: 30px 60px 89px 60px;
      }

      @media (min-width:1920px) {
        padding: 90px 160px 89px 160px;
      }
    }

    .adress {

      li {

        @media (min-width:768px) {
          padding: 0 6px;
        }

        &:first-child {
          @media (min-width:768px) {
            padding: 0 7px 0 0;
          }

          @media (min-width:992px) {
            padding: 0 2px 0 0;
          }
        }

        &:last-child {

          @media (min-width:768px) {
            width: 100%;
            top: 111px;
            left: 50%;
            transform: translateX(-50%);
          }
          

          @media (min-width:992px) {
            padding: 0;
            top: 0;
            left: 100%;
            width: 276px;
            transform: translateX(-100%);
          }
        }
      }
    }
  }
}