//colors
$white: #FFFFFF;
$main-color: #323264;
$accent-color: #F0145A;
$active-regular: #24A3FF;
$grey-bg: #F5F5FA;
$grey-text: #B3B3BA;
$black: #000;


$base_font_weight: 400;
$big_font_weight: 700;
$base_font_size: 16px;
$base_line_height: 26px;
$icon_fz: 67px
